// The draghandle
$thumb-color: #0097f2 !default

$thumb-radius: 100% !default
$thumb-height: 15px !default
$thumb-width: 15px !default

$thumb-border-width: 0 !default
$thumb-border-color: black !default

$thumb-shadow-size: 0 !default
$thumb-shadow-blur: 1px !default
$thumb-shadow-color: rgba(0,0,0,.0) !default

// The range
$track-color: #2E2E2E !default

$track-radius: 4px !default
$track-width: auto !default
$track-height: 8px !default

$track-border-width: 1px !default
$track-border-color: black !default

$track-shadow-size: 2px !default
$track-shadow-blur: 2px !default
$track-shadow-color: rgba(0,0,0,.0) !default


=shadow($shadow-size,$shadow-blur,$shadow-color)
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0px 0px $shadow-size lighten($shadow-color,5%)


=track
  width: $track-width
  height: $track-height
  cursor: pointer
  animate: 0.2s


=thumb
  +shadow($thumb-shadow-size,$thumb-shadow-blur,$thumb-shadow-color)
  border: $thumb-border-width solid $thumb-border-color
  height: $thumb-height
  width: $thumb-width
  border-radius: $thumb-radius
  background: $thumb-color
  cursor: pointer


=input-type-range
  -webkit-appearance: none
  background: transparent
  width: $track-width

  &:focus
    outline: none


  &::-webkit-slider-runnable-track
    +track
    +shadow($track-shadow-size,$track-shadow-blur,$track-shadow-color)
    background: $track-color
    border-radius: $track-radius
    border: $track-border-width solid $track-border-color


  &::-webkit-slider-thumb
    +thumb
    -webkit-appearance: none
    margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2)


  &:focus::-webkit-slider-runnable-track
    background: $track-color


  &::-moz-range-track
    +track
    +shadow($track-shadow-size,$track-shadow-blur,$track-shadow-color)
    background: $track-color
    border-radius: $track-radius
    border: $track-border-width solid $track-border-color

  &::-moz-range-thumb
    +thumb


  &::-ms-track
    +track
    background: transparent
    border-color: transparent
    border-width: $thumb-width 0
    color: transparent


  &::-ms-fill-lower
    background: $track-color
    border: $track-border-width solid $track-border-color
    border-radius: $track-radius*2
    +shadow($track-shadow-size,$track-shadow-blur,$track-shadow-color)

  &::-ms-fill-upper
    background: $track-color
    border: $track-border-width solid $track-border-color
    border-radius: $track-radius*2
    +shadow($track-shadow-size,$track-shadow-blur,$track-shadow-color)

  &::-ms-thumb
    +thumb

  &:focus::-ms-fill-lower
    background: $track-color

  &:focus::-ms-fill-upper
    background: $track-color

